<div *ngIf="accessDenied">
  <p>Zugriff verweigert, da Sie nicht der Coursersteller oder Abonnent sind!</p>
</div>
<div *ngIf="!accessDenied">
  <div class="container-fluid">
    <div class="row justify-content-center bg-light">
      <div class="col-12">
        <h4 class="display-4">
          Ihr abbonierter Course <i>{{ course.title }}</i>
        </h4>
        <p class="lead">Course Ersteller: {{ course.userId }}</p>
        <p class="lead">{{ course.description }}</p>
        <hr class="my-4" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h5>Status der zu bearbeiteten Tasks des Courses:</h5>
    <div class="card" *ngFor="let t of statusOfTasks | keyvalue">
      <span *ngIf="statusOfTasks[0] == ''"
        >Sie haben keinen Task der erledigt werden muss!</span
      >
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{ t.value[0] }}</h5>
            <p class="card-text">{{ t.value[1] }}</p>
            <p class="deadline" style="color: red">{{ t.value[2] }}</p>
          </div>
        </div>
        <div class="col-md-2" *ngIf="t.value[3] == 'NEU'">
          <button class="btn btn-secondary">Nicht bearbeitet</button>
        </div>
        <div class="col-md-2" *ngIf="t.value[3] == 'OFFEN'">
          <button class="btn btn-warning">Wieder geöffnet</button>
        </div>
        <div class="col-md-2" *ngIf="t.value[3] == 'IN_ARBEIT'">
          <button class="btn btn-primary">In Bearbeitung</button>
        </div>

        <div class="col-md-2" *ngIf="t.value[3] == 'FERTIG'">
          <button class="btn btn-sm btn-success">Erledigt</button>
        </div>
        <div
          class="col-md-2"
          *ngIf="t.value[3] == 'NEU'"
          (click)="setStatusInProgress(t.value[4])"
        >
          <button type="submit" class="btn btn-outline-dark">
            Bearbeitung starten
          </button>
        </div>
        <div
          class="col-md-2"
          *ngIf="t.value[3] == 'OFFEN'"
          (click)="setStatusInProgress(t.value[4])"
        >
          <button type="submit" class="btn btn-outline-dark">
            Bearbeitung erneut starten
          </button>
        </div>
        <div
          class="col-md-2"
          *ngIf="t.value[3] == 'IN_ARBEIT'"
          (click)="setStatusToDone(t.value[4])"
        >
          <button type="submit" class="btn btn-outline-dark">
            Fertigstellen
          </button>
        </div>
        <div
          class="col-md-2"
          *ngIf="t.value[3] == 'FERTIG'"
          (click)="reopenTask(t.value[4])"
        >
          <button type="submit" class="btn btn-outline-dark">
            Zurücksetzen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
