<div class="jumbotron">
  <h1 class="display-4">Dein Course-Planner</h1>
  <p class="lead">
    Verpasse keine Aufgabe und Deadline - Registiere dich um alle Features zu
    nutzen
  </p>
  <hr class="my-4" />
</div>
<div class="container">
  <div class="col-md-10">
    <h2 align="center">Features von Course-Planner</h2>
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2">Erstellung und abonnieren von Courses</h5>
        </div>
        <p class="mb-2">
          Jeder User kann einen Course erstellen, in dem zu erledigenden Tasks
          mit Deadline hinzugefügt werden können.
        </p>
        <p class="mb-1">
          Alle Courses können von Usern abonniert werden, um die Tasks auf einem
          Blick zu sehen.
        </p>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2">Taskübersicht zu jedem Course</h5>
        </div>
        <p class="mb-2">
          Die Tasks eines Users können pro Course angezeigt werden oder alle
          bereits bearbeitete oder erledigte Tasks.
        </p>
        <p class="mb-2">
          Damit hat jeder User einen Überblick auf die anstehenden Aufgaben und
          die damit verbundenen Deadlines.
        </p>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2">Tracking der abzuarbeitenden Tasks</h5>
        </div>
        <p class="mb-2">
          Zu jedem Task von einem User wird ein Status festgehalten, der von dem
          User von "Offen" über "In arbeit" auf "Fertig" gesetzt werde kann.
        </p>
        <p class="mb-2">
          Dadurch hat der Course-Creator eine Übersicht, wie weit die Abonnenten
          mit der abarbeitung der gestellten Tasks voranschreiten, um frühzeitig
          einer Auffschiebung entegegenzuwirken.
        </p>
      </a>
    </div>
  </div>
</div>
<hr class="my-4" />
