<head th:fragment="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />
  <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <title>Course-Planner</title>
</head>
<body>
  <div th:fragment="navigation">
    <nav
      class="navbar navbar-expand-sm navbar navbar-dark"
      style="background-color: #575252"
    >
      <a class="navbar-brand text-navbar" routerLink="/">Course-Planner</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li th:if="${administration}" class="nav-item">
            <a class="nav-link text-navbar" routerLink="/status"
              >Status-Overview</a
            >
          </li>
          <li th:if="${user}" class="nav-item">
            <a class="nav-link text-navbar" routerLink="/courses">Courses</a>
          </li>
        </ul>

        <span class="nav-link text-navbar" style="color: #f8f9fa"
          >Sie sind eingeloggt als <strong>{{ userName }}</strong></span
        >

        <a class="btn btn-primary" (click)="logout()" routerLink="">Logout</a>
      </div>
    </nav>
  </div>
</body>
<router-outlet></router-outlet>
